body {
  background-color: #daf1de;
  max-width: 443px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -9999;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.schoolName {
  height: 10%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 5%;

  font-family: 'omyu_pretty';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  align-items: center;
  text-align: center;
  color: #000000;
}
.title {
  margin-top: 3%;
  height: 10%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: 'omyu_pretty';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: #000000;
}

.letterImg {
  top: 20%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 443px;
}

.mySchoolBtn {
  font-family: 'omyu_pretty';
  font-size: 25px;
  color: #fff;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #176124;
  padding: 10px;
  margin: 0 20px 10px;
}
.letter {
  width: 80%;
  top: 8%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.content {
  min-height: 38vh;
}

.contentTextarea {
  min-height: 36vh;
  max-height: 36vh;
  font-size: 16px;
  border: none;
  background: transparent;
  resize: none;
  overflow: auto;
  height: 100%;
  height: auto;
  line-height: 1.4;
  width: 100%;
  outline: none;
  font-family: 'omyu_pretty';
}

.letterImgBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 22%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.to {
  margin-bottom: 5px;
  /* width: 70%; */

  /* display: flex; */
  /* position: relative; */
  /* align-items: center; */
  /* left: 10%; */
  /* transform: translate(-120%, 0); */
}

.letterPrefix {
  font-family: 'omyu_pretty';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
.letterSurfix {
  float: right;
  font-family: 'omyu_pretty';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
.reportLetterIcon {
  float: right;
  font-size: 25px;
  color: #d91212;
}

.closeBtn {
  font-family: 'omyu_pretty';
  font-size: 25px;
  color: #fff;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #176124;
  padding: 10px;
  width: 100%;
  margin: 0 20px 10px 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.replyBtn {
  font-family: 'omyu_pretty';
  font-size: 25px;
  color: #176124;
  text-align: center;
  border: 2px solid #176124;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  margin: 0 10px 10px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
