body {
    margin: 0;
}

.deskPage {
    /* background-color: black; */
    max-width: 443px;
    /* min-width: 414px; */
    width: 100%;
    height: 100vh;
    margin: auto auto;
    position: absolute;
    background-image: url("https://wishme-bichnali.s3.ap-northeast-2.amazonaws.com/background/deskBackground.PNG");
    background-repeat: no-repeat;
    /* background-size: 100% 120%; */
    background-size: cover;
    background-position: center top -60px;
    /* display: flex; */
    /* border: 1px solid black; */
}

/* .bg{
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: -9999;
    justify-content: center;
    object-fit: cover;
} */

/* 칠판부분 */
.board {
    height: 30%;
}

.title {
    font-family: 'omyu_pretty';
    font-size: 25px;
    text-align: center;
    padding: 50px;
    /* margin-top: 50px; */
}

/* 책상 부분 */
.desk {
    height: 50%;
}

/* 버튼 부분 */
.btn {
    height: 20%;
}

.link {
    text-decoration: none;
}

.cheerUpBtn {
    font-family: 'omyu_pretty';
    font-size: 30px;
    color: #fff;
    text-align: center;
    border: 1px solid #176124;
    border-radius: 10px;
    background-color: #176124;
    padding: 10px;
    margin: 0 20px 10px;
}

.myDeskBtn {
    font-family: 'omyu_pretty';
    font-size: 30px;
    color: #fff;
    text-align: center;
    border: 1px solid #176124;
    border-radius: 10px;
    background-color: #176124;
    padding: 10px;
    margin: 0 20px 10px;
}