.bg {
  /* width: 443px; */
  /* min-width: 414px; */
  max-width: 443px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -9999;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  padding: 0;
  height: 100vh; /* 전체 뷰포트 높이 (viewport height)의 100% */
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.schoolName {
  position: absolute;
  left: 50%;
  top: 10.8%;
  transform: translate(-50%, 0);
  font-family: 'omyu_pretty';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #000000;
}

.gridContainer {
  left: 50%;
  /* 가운데로부터 오른쪽으로 50% 떨어진 위치에 배치 */
  transform: translateX(-50%);
  top: 24%;
  width: 100%;
  position: absolute;
  /* background-color: #000000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  min-height: 300px;
  /* max-height: fit-content; */
}
.gridItemContainer {
  display: flex;
  /* display: grid; */
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 78%;
  align-items: center;
  /* height: fit-content; */
}

.arrowIcon {
  top: 50%;
  font-size: 24px;
  cursor: pointer;
}
.disabledArrow {
  font-size: 24px;
  color: #ccc;
  cursor: not-allowed;
}

.gridItem {
  margin: 2% 5px; /* 상하 0, 좌우 1px의 마진 설정 */
  /* display: inline-block;
  position: relative;
  display: flex; */
  justify-content: center;
  align-items: center;
  width: calc(33.33% - 10px);
  /* width: 100%; */
  /* display: flex; */
  /* height: fit-content; */

  /* height: 20%; */
}

.gridItem img {
  width: 100%;
  /* height: 20%; */
  /* max-height: 0px; */
}

.title {
  font-family: 'omyu_pretty';
  text-align: center;
  padding: 50px;
  font-size: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  /* margin-top: 50px; */
}

.main {
  /* display: flex; */
  flex-direction: column;
  height: 100%;
  /* height: 80%; */
}

.btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 443px;
}

.mySchoolBtn {
  font-family: 'omyu_pretty';
  font-size: 30px;
  color: #fff;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #176124;
  padding: 10px;
  margin: 0 20px 10px;
  /* width: 100%; */
}

.mySchoolBtnHalfShare {
  font-family: 'omyu_pretty';
  font-size: 30px;
  color: #fff;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #176124;
  width: 50%;
  padding: 10px 10px 10px 10px;
  margin: 0 10px 10px 20px;
}

.mySchoolBtnHalf {
  font-family: 'omyu_pretty';
  font-size: 30px;
  color: #fff;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #176124;
  width: 50%;
  padding: 10px 10px 10px 10px;
  margin: 0 20px 10px 10px;
}

.rowButton {
  display: flex;
  flex-direction: row;
}

.Modalmodal {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 160px;
  background-color: #edf4ef;
  border-radius: 15px;
  align-items: center;
  z-index: 1000;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.Modaltitle {
  font-family: 'omyu_pretty';
  flex: 1; /* '공유하기'를 화면 가운데로 위치시킴 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  font-size: 28px;
  color: #000000;
  margin: 20px 0 20px 15px;
}

.Modalclose {
  margin-right: 10px;
  cursor: pointer;
  float: right;
  color: #176124;
  font-size: 20px;
  margin-top: 10px;
}

/* .btn div {
  font-family: 'omyu_pretty';
  font-size: 20px;
  color: #176124;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #edf4ef;
  padding: 13px;
  margin: 10px 25px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
} */

.Modalbtn {
  font-family: 'omyu_pretty';
  font-size: 20px;
  color: #176124;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #edf4ef;
  padding: 7px;
  width: 20%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.header {
  padding: 7px;
}
