.bg {
  /* width: 443px; */
  /* min-width: 414px; */
  max-width: 443px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -9999;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.schoolName {
  position: absolute;
  left: 50%;
  top: 10.8%;
  transform: translate(-50%, 0);
  font-family: 'omyu_pretty';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #000000;
}

.gridContainer {
  left: 50%;
  /* 가운데로부터 오른쪽으로 50% 떨어진 위치에 배치 */
  transform: translateX(-50%);
  top: 22%;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(4, 1fr); */
  width: 100%;
  position: absolute;
  height: 50%;
  /* background-color: #000000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 443px;
}
.gridItemContainer {
  display: flex; /* 수평으로 그리드 아이템을 배치합니다. */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  align-items: center;
}

.arrowIcon {
  font-size: 24px;
  cursor: pointer;
}
.disabledArrow {
  font-size: 24px;
  color: #ccc;
  cursor: not-allowed;
}

.gridItem {
  margin: 20px 5px; /* 상하 0, 좌우 1px의 마진 설정 */
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gridItem img {
  width: 100%;
  height: auto;
}

.title {
  font-family: 'omyu_pretty';
  text-align: center;
  padding: 50px;
  font-size: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  /* margin-top: 50px; */
}

.main {
  /* position: absolute; */
  height: 80%;
}

.btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 443px;
}

.mySchoolBtn {
  font-family: 'omyu_pretty';
  font-size: 30px;
  color: #fff;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #176124;
  padding: 10px;
  margin: 0 20px 10px;
  /* width: 100%; */
}
