.bg {
  /* width: 443px; */
  /* min-width: 414px; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -9999;
  position: absolute;
}

.schoolName {
  position: absolute;
  left: 50%;
  top: 11%;
  transform: translate(-50%, 0);
  font-family: 'omyu_pretty';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #000000;
}

.gridContainer {
  left: 50%;
  /* 가운데로부터 오른쪽으로 50% 떨어진 위치에 배치 */
  transform: translateX(-50%);
  top: 22%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 80%;
  position: absolute;
  height: 50%;
}

.gridItem {
  margin: 0 5px;
  /* 상하 0, 좌우 1px의 마진 설정 */
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridItem img {
  width: 100%;
  height: auto;
}

.title {
  font-family: 'omyu_pretty';
  text-align: center;
  padding: 50px;
  font-size: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  /* margin-top: 50px; */
}

.main {
  /* position: absolute; */
  height: 80%;
}

.btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.mySchoolBtn {
  font-family: 'omyu_pretty';
  font-size: 30px;
  color: #fff;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #176124;
  padding: 10px;
  margin: 0 20px 10px;
  /* width: 100%; */
}