.Modalmodal {
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 500px;
  background-color: #edf4ef;
  border-radius: 15px;
  align-items: center;
  z-index: 1000;
}

.Modaltitle {
  font-family: 'omyu_pretty';
  flex: 1;
  text-align: center;
  font-size: 28px;
  color: #000000;
  margin: 25px 10px 20px 15px;
}

.ModalContent {
  font-family: 'omyu_pretty';
  font-size: 17px;
  flex: 1;
  text-align: center;
  margin: 10px 10px 20px 15px;
}

.ModalImg {

  width: 65%;
  height: 40%;
  margin-left: 17%;
}

.Modalclose {
  margin-right: 10px;
  cursor: pointer;
  float: right;
  color: #000000;
  font-size: 30px;
  height: 10px;
}

.Modalbtn {
  font-family: 'omyu_pretty';
  font-size: 20px;
  color: #176124;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #edf4ef;
  padding: 7px;
  width: 30%;
  margin: 0px 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.ModalbtnCancle {
  font-family: 'omyu_pretty';
  font-size: 20px;
  color: #176124;
  text-align: center;
  border: 1px solid #176124;
  border-radius: 10px;
  background-color: #edf4ef;
  padding: 7px;
  width: 30%;
  margin: 0px 10px;

  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.rowButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

.link {
  font-family: 'omyu_pretty';
  color: #176124;
  text-align: center;
  font-size: 15px;
  margin: auto;
  margin-top: 3%;
}