.bg {
    background-color: #DAF1DE;
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.topbox {
    height: 35%;
    margin: 75px 0;
}

.bottombox {
    height: 5%;
}

.title {
    font-size: 55px;
    font-family: 'zcoolk';
    text-align: center;
    /* background-color: red; */
}

.subTitle {
    font-size: 30px;
    font-family: 'zcoolk';
    text-align: right;
    /* background-color: blue; */
    padding-right: 25px;
}

.kakao {
    text-align: center;
    cursor: pointer;
}

.nologin {
    margin: 10px 0;
    text-align: center;
    font-size: 15px;
    font-family: 'armata';
    color: #9F9F9F;
    text-decoration: underline;
    cursor: pointer;
}