.header {
    width: 100%;
    display: flex;
    justify-content: end;

  }

  .menuIcon {
    margin-right: 20px;
    height: 30px;
    grid:1;
  }

  .menuIcon2 {
    font-size: 45px;
  }
  
  .notIcon {
    margin-right: 20px;
    height: 35px;
    grid:3;
  }
  
  .title {
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
  }
  
  .sidebarVisible {
    position: fixed;
    top: 0;
    right: -70vw;
    height: 100%;
    background-color: rgb(234, 233, 233);
    color: black;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
    transition: right 0.3s ease-in-out;
  }
  .sidebar {
    position: fixed;
    display: none;
    top: 0;
    right: -70vw;
    height: 100%;
    background-color: rgb(234, 233, 233);
    color: black;
    padding: 20px;
    z-index: 1000;
    box-sizing: border-box;
    transition: right 0.3s ease-in-out;
  }
  
  .sidebarVisible.open {
    right: 0;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    pointer-events: auto;
    transition: left 0.5s ease-in-out;
  }
  
  .overlay:hover {
    cursor: pointer;
  }
  
  .sidebarLogo img {
    max-width: 100px;
    height: auto; /* 이미지 높이 자동 조절 */
  }
  
  .sideName {
    margin-top: 1vh;
    font-family: 'omyu_pretty';
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .sideEmail {
    font-size: 16px;
    margin-bottom: 3vh;
  }
  
  .menus {
    color: rgb(57, 57, 57);
    margin-bottom: 3vh;
    font-size: 22px;
  }
  
  .push {
    color: rgb(57, 57, 57);
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
  }
  
  .iconQ {
    height: 29px;
    padding-bottom: 5px;
    margin-left: 3px;
  }
  .copyRight {
    line-height: 20px;
  }